fastapi
uvicorn[standard]

langgraph
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
chromadb

sentence-transformers

groq
langchain-groq

pypdf

python-dotenv

pydantic

black
ruff

pytest